<h2>{{title}}</h2>
<p>{{body}}</p>

{{#if isEditing}}
 {{partial 'post/edit'}}
 <button {{action 'doneEditing'}}>Done</button>
{{else}}
	<button {{action 'edit'}}>Edit</button>


{{! controller.content is the post I care about }}
{{view EmberRailsBlog.DisqusView postBinding="post"}}