<h1 class="center caps border-bottom blue">Projects</h1>

	{{#each}}
    <h3 class="center caps dark-gray">{{name}}</h3>
    <div class="clearfix mb2 border-bottom">
      <div>
        <center><img {{bind-attr src=imgUrl}}/></center>
      </div>
      <div class="overflow-hidden">
      <p>{{description}}</p>
      <button class="button-blue-outline mb1"><a target="_blank" {{bind-attr href=deployUrl}}>View this Project</a></button>
      </div>
    </div>
  {{/each}}


{{outlet}}
